<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HEY</title>
  </head>
  <body>
    {{#each data}}
    {{#if @first}}
      <a href="/">HOME</a>
      <h1>Search Results for Cohort {{this.cohortNumber}}</h1>
      {{/if}}

    <main>

      <h3>Instructor: {{this.instFirstName}} {{this.instLastName}}</h3>
      <li>Position: {{this.instPosition}}</li>
      <li>Campus: {{this.cohortCampus}}</li>
      <li>Start Date: {{this.instStartDate}}</li>
      <br>
      {{/each}}
    </main>
  </body>
</html>
