<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HEY</title>
  </head>

  <body>
    <header>
      <h1>Track Instructors</h1>
    </header>
<label for="cohort">Search by Cohort Number</label>
    <form class="" action="/cohort" method="post">
      <select class="" name="id">
      {{#each cohort}}
        <option value="{{this.id}}">{{this.cohortNumber}}</option>
      {{/each}}
      </select>
      <button>Search Cohort</button>
    </form>

    <label for="cohort">Search by Instructor Name</label>
        <form class="" action="/instructor" method="post">
          <select class="" name="id">
          {{#each instructor}}
            <option value="{{this.id}}">{{this.instFirstName}}</option>
          {{/each}}
          </select>
          <button>Search Instructor</button>
        </form>

<label for="addCohort">Add a New Cohort</label>
<form class="" action="/addCohort" method="post">
  <input type="integer" name="cohortNumber" value="" placeholder="Cohort Number">
  <input type="text" name="cohortCampus" value="" placeholder="Campus">
  <label for="cohortStart">Start Date:</label><input type="date" name="cohortStart" value="">
  <label for="cohortEnd">End Date:</label><input type="date" name="cohortEnd" value="">
  <input type="integer" name="cohortSize" value="" placeholder="Number of Students">
  <button>Submit</button>
</form>

<label for="addInstructor">Add a New Instructor</label>
<form class="" action="/addInstructor" method="post">
  <input type="text" name="instFirstName" value="" placeholder="First Name">
  <input type="text" name="instLastName" value="" placeholder="Last Name">
  <input type="text" name="instPosition" value="" placeholder="Position">
  <label for="startDate">Start Date:</label><input type="date" name="instStartDate" value="">
  <button>Submit</button>
</form>

<label for="addJoin">Add instructor to Cohort</label>
<form class="" action="/addJoin" method="post">
  <select class="" name="cohort_id">
  {{#each cohort}}
    <option value="{{this.id}}">{{this.cohortNumber}}</option>
  {{/each}}
  </select>
  <select class="" name="instructor_id">
  {{#each instructor}}
    <option value="{{this.id}}">{{this.instFirstName}}</option>
  {{/each}}
  </select>
  <button>Submit</button>
</form>

<form class="" method="post" action="/delete?_method=DELETE">
  <select class="" name="instructor_id">
  {{#each instructor}}
    <option value="{{this.id}}">{{this.instFirstName}}</option>
  {{/each}}
  </select>
  <button>Remove This Instructor</button>
</form>



<label for="addCohort">Update Existing Cohort</label>
<form class=""  method="post" action="/update?_method=PUT">
  <select class="" name="id">
  {{#each cohort}}
    <option value="{{this.id}}">{{this.cohortNumber}}</option>
  {{/each}}
  </select>
  <input type="text" name="cohortCampus" value="" placeholder="Campus">
  <label for="cohortStart">Start Date:</label><input type="date" name="cohortStart" value="">
  <label for="cohortEnd">End Date:</label><input type="date" name="cohortEnd" value="">
  <input type="integer" name="cohortSize" value="" placeholder="Number of Students">
  <button>Update</button>
</form>

  </body>
</html>
